h1,h2,h3,h4,h5,h6,ul,a,p,li {
	margin: 0px;
	padding: 0px;
}
ul{
	list-style: none;
}
img {
	width: 100%;
	display: block;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	@media screen and (min-width:480px){
	width: 480px;
	}	
	
@media screen and (min-width: 768px) {
padding-left: 32px; 
padding-right: 32px;
}
@media screen and (min-width:1024px){
	width: 1024px;
}
}

a {
	text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
}